.formControl.error textarea {
  border: 2px red solid;
}
.error span {
  color: red;
}
.error input {
  border: 2px red solid;
}
.error textarea {
  border: 2px red solid;
}
.invalidLogin {
  color: red;
  font-weight: bold;
}
.messageFormArea {
  overflow: auto;
  resize: none;
  width: 80em;
  height: 15em;
}
.messageForm {
  margin-top: 10em;
}
.postForm {
  overflow: auto;
  resize: none;
  margin-top: 1em;
  width: 20em;
  height: 5em;
}
.captcha {
  width: 200px;
  height: 100px;
}
.error {
  color: red;
}
.email {
  margin-left: 3em;
}
.password {
  margin-left: 1.1em;
}
.submitButton {
  margin-top: 1em;
}
.login {
  text-align: center;

  height: 40%;

  border: solid 5px #bb7650;
}
