.nav {
  grid-area: n;
  background-color: #bb7650;
  padding: 50px;

  text-align: center;
}
.item a {
  font-size: 1.5em;
  color: white;
  text-decoration: none;
}
.item a.active {
  color: gold;
}

.img {
  display: inline;
  width: 40px;
}
.item {
  padding: 5px;
}
